################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Roxolan.Storage.Tests/bin/x64/Debug/netcoreapp2.0
